<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh">

<head>
    <title>musecle setting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<table class="table table-hover" style="test-align: center;border: black">
    <caption>部门表格</caption>
    <thead>
    <tr>
        <th>部门号</th>
        <th>部门名称</th>
        <th>部门描述</th>
        <th>部门电话</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>


</body>

</html>


<!--显示分页信息-->
<div class="modal-footer no-margin-top">
    <div class="col-md-6" >
<!--/*  当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录 */-->
    </div>

 </div>
